<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
       <div class="container">
        <h1>Login admin</h1>
            <form style="display: flex; flex-direction: column; height: 100px; justify-content: space-between; width: 50%;" method="post" action="/" enctype="application/x-www-form-urlencoded">
                <input type="text" name="name" placeholder="name">
                <input type="password" name="password" placeholder="password">
                <input type="submit" name="submit" value="Send">
            </form>
       </div>   
    </body>
</html> 